<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.js"></script>

</head>
<style type="text/css">
    .topnav {
        background-color: black;
        width: 100vw;
        height: 25px;
    }
    .float-right {
        float: right;
        height: 25px;
    }
    .float-right a{
        text-align: center;
        padding: 5px;
        color: white;
        text-decoration: none;
    }
    .clicked {
        color: blue;
    }
</style>
<body>
    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block script_js %}
    {% endblock %}
</body>
</html>
