{% extends "header.html" %}
{% block content %}
<h1>Change Password</h1>

<div>
  <label class="width: 30px;"> Current Password:</label>
  <input type="password" name="current_password" id="current_password">
  <br>
  <label> New Password:</label>
  <input type="password" name="new_password" id="new_password">
  <br>
  <label> Confirm Password:</label>
  <input type="password" name="confirm_password" id="confirm_password">
  <br>
  <button class="btn btn-primary submit">Submit</button>
</div>
{% endblock %}

{% block script_js %}
  <script type="text/javascript">
    var token;
    token = localStorage.getItem("authToken");

    if (token == null) {
        window.location.href = '/index';
    }
    $(".submit").click(function(){
      current_password = $("#current_password").val();
      new_password = $("#new_password").val();
      confirm_password = $("#confirm_password").val();
      $.ajax({
        url: "/change-password",
        type: "POST",
        headers: {
          'Authorization': 'JWT ' + token,
        },
        data: {"old_password": current_password, "new_password": new_password, "confirm_password": confirm_password},
        success: function(data) {
          localStorage.setItem("change_password_success", "change_password");
          window.location.href = "/home?";
        }
      })
    });
  </script>
{% endblock %}